@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-display: "Roboto Slab", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #05132B;
  }
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #05132B;
    overflow-x: hidden;
  }
}

section {
  position: relative;  
  min-height: 100vh;
}